body, html {
    height: 100%;
    margin: 10;
    overflow: hidden;
    background-color: black;
    animation: fadeEffect 1.5s ease-in;
    /* background-color: #343434; Добавление цвета фона */
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 2.5em;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: top 0.5s ease, left 0.5s ease;
    z-index: 4;
}

canvas {
    display: block;
    vertical-align: bottom;
}

@keyframes shimmer {
    0% { color: rgba(255, 255, 186, 1); } /* Светло-желтый */
    20% { color: rgba(186, 255, 201, 1); } /* Бледно-зеленый */
    40% { color: rgba(186, 225, 255, 1); } /* Светло-голубой */
    60% { color: rgba(255, 179, 186, 1); } /* Нежно-розовый */
    80% { color: rgba(255, 223, 186, 1); } /* Пастельно-оранжевый */
    100% { color: rgba(255, 255, 186, 1); } /* Светло-желтый */
}

@keyframes fadeEffect {
    
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


#startButtonContainer {
    position: fixed;
    border: none;
    outline: none; /* Убираем контур фокуса */
    box-shadow: none;
    top: 0;
    left: 0;
    width: 100vw;  /* Ширина во всю ширину вьюпорта */
    height: 100vh; /* Высота во всю высоту вьюпорта */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Черный фон */
    z-index: 5; /* Убедитесь, что контейнер находится поверх других элементов */
    opacity: 1;
}

#startButton {
    border: none;
    outline: none; /* Убираем контур фокуса */
    box-shadow: none;
    color: white;
    font-size: 60px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    animation: fadeEffect 2s ease-in;
}

#valentineQuestion {
    position: relative;
    text-align: center;
    padding-top: 10vh;
    display: flex;
    flex-direction: row; /* Изменено на row для горизонтального расположения */
    align-items: center;
    justify-content: center;
    height: 95vh;
    z-index: 4;
}


#valentineImage {
    position: absolute;
    opacity: 90%;
    width: 20vw; /* Использование vw вместо процентов */
    height: auto;
    top: 10vh; /* Использование vh для вертикального позиционирования */
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%; /* Ограничение максимальной ширины */
    z-index: 2;
}

#questionText {
    color: white;
    font-size: 500%;
    height: 17.5vw;
    animation: shimmer 2s infinite;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    font-family: "Akzidenz-Grotesk Pro Bold Ext";
    z-index: 4;
}

#yesButton {
    background-color: forestgreen;
    position: absolute;
    opacity: 80%;
    top: 55%; /* Устанавливаем начальную позицию */
    left: 43%; /* Можете настроить это значение для точного позиционирования */
    font-family: "Akzidenz-Grotesk Pro Med Ext", sans-serif;
    font-size: 45px;
    transform: translate(-50%, -50%);
}

#noButton {
    background-color: #ad525a;
    position: absolute;
    opacity: 80%;
    top: 55%; /* Теперь устанавливаем одинаковое значение */
    left: 57%; /* Можете настроить это значение для точного позиционирования */
    font-family: "Akzidenz-Grotesk Pro Med Ext", sans-serif;
    font-size: 45px;
    transform: translate(-50%, -50%);
}

#videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#noiseCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    z-index: -2;
}

#loveText {
    display: none;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

#noButton:hover {
    position: absolute;
    top: randomValue;
    left: randomValue;
}


#end {
    font-size: 48px; /* или любой другой размер */
    font-weight: bold; /* для лучшей видимости градиента */
    text-align: center; /* если нужно центрировать текст */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* делает текст прозрачным, показывая только фон */
    font-family: "Akzidenz-Grotesk Pro Med Ext", sans-serif;
    opacity: 0.75;
    background-image: linear-gradient(to right, white, rgb(124, 124, 124), white); /* Пример градиента с тремя цветами */
}